AzureAd__TenantId=your-tenant-id
AzureAd__ClientId=your-client-id
AzureAd__ClientSecret=your-client-secret
AzureServices__CosmosDb__Endpoint=your-cosmosdb-endpoint
AzureServices__CosmosDb__Database=your-cosmosdb-database
AzureServices__CosmosDb__Container=your-cosmosdb-container
AzureServices__BlobStorage__Endpoint=your-storage-endpoint
AzureServices__BlobStorage__Container=your-container-name
AzureServices__ServiceBus__Namespace=your-servicebus-namespace
AzureServices__ServiceBus__Topic=your-servicebus-topic
AzureServices__ServiceBus__Subscription__Image=your-servicebus-subscription-image
AzureServices__ServiceBus__Subscription__Script=your-servicebus-subscription-script